@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
}

p {
  margin: 0;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1069px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.gallery-container {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card-image {
  display: block;
  width: 140px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}
